<h1 class="main-title">Restore your password</h1>
<form class="restore-password" [formGroup]="restorePasswordForm" (ngSubmit)="addCustom()">
  <mat-form-field class="restore-password__field">
    <input matInput placeholder="Email" [formControl]="email">
    <mat-error *ngIf="email.invalid">{{getErrorMessage(email)}}</mat-error>
  </mat-form-field>
  <button class="restore-password__btn" mat-raised-button color="primary" [disabled]="restorePasswordForm.invalid">Restore your password</button>
  <a href="#" class="goto-sign-in" routerLink="/authorization/sign-in">Cancel</a>
</form>

